* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  background: url("../crew/background-crew-desktopAll.jpg");
  /* background: url('../img/ai-generated-7813239_1920.jpg'); */
  /* background: #000; */

  background-repeat: no-repeat;
  color: #fff;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  z-index: -1;
}

img {
  width: 100%;
}

/*
      .header__body .content_rigth{
      width: 60%;
      min-width: 60%;
      background-color: rgba(255, 255, 255, 0.045);
      backdrop-filter: blur(90.5485px);
      border-radius: 3px;
      margin: 2rem auto;
      padding: 2rem;
      justify-content: center;
  }
  */

/*HEADER*/
.header__body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* margin: 1rem ; */
}

.line {
  position: absolute;
  left: 10%;

  width: 37%;
  height: 1%;

  background-color: #fff;
  z-index: 50;
}

.content_rigth {
  background-color: transparent;
}

.content_rigth .navBars__list {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(90.5px);

  padding: 2rem 4rem;
  margin-right: 17rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.content_rigth .navBars__list li {
  border-bottom: 2px solid transparent;
  transition: border-bottom 200ms ease;
}

.content_rigth .navBars__list li:hover {
  border-bottom: 2px solid #fff;
}

.content_rigth .navBars__list li a {
  color: #fff;
  transition: color 400ms ease;
}

.content_rigth .navBars__list li a:hover {
  color: #15adff;
}

/*MAIN*/

.content__body {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 5rem 2rem;
  gap: 2rem;
}

.content__body .article-section__left-title {
  width: 100%;
}

.article-section__left-title h2 {
  letter-spacing: 10px;
}

.article-section__left-title h2 span {
  color: #ffffff85;
}
/* 4255316856356447226674 */

.content__main-article{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.content__main-article .article-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.article-section .section__left{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.section__left .sub_title{
  font-size: 2.5rem;
}

.section__left h3{
  font-size: 2.5rem;
  font-weight: 700;
}

.section__left .paragraph{
  font-size: 1.5rem;
}

.article-section .section__right{
  display: block;
  width: 100%;
}

.content_img img{
  object-fit: cover;
  width: 50%;
}

.carrusel{
  margin-left: 12rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.carrusel .btn{
  background-color: #ffffff85;
  opacity: 40%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: .5rem;
  border-radius: 50%;

  transition: background-color 400ms ease;
}

.carrusel .btn:hover{
  opacity: 80%;
  background-color: #fff;
}

.carrusel .btn:focus{
  opacity: 100%;
  background-color: #fff;
}